header {
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    padding: 30px
}

img {
    width: 700px;
}

section {
    text-align: center;
    font-family: "pf-spine-regular", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-style: normal;
    font-size: 25px;
    border: 3px solid rgb(40, 119, 230);
    padding: 10px;
    text-shadow: 2px 2px 6px #7abaff;
}

main {
    font-size: 16px;
    font-family: "courier-prime", monospace;
    font-weight: 400;
    font-style: normal;
    padding: 50px;
}

dt {
    text-indent: 50px;
    text-transform: uppercase;
    background: rgb(212, 212, 212);
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

p.character {
    margin-left: 250px;
    text-transform: uppercase;
}

p.line {
    margin-left: 150px;
}

p.description {
    margin-left: 200px;
    font-style: italic;
}


#peter {
    color: blue;
}
#dana {
    color: red;
}
#mayor {
    color: purple;
}
#ray {
    color: green;
}
#egon {
    color: orange;
}
#winston {
    color: rgb(233, 74, 132);
}

footer {
    text-align: center;
    padding: 50px;
}