
body {
    background-color: rgb(255, 200, 215);
    max-width: 500px;
    margin: 100px;
}

h1 {
    color: rgb(7, 62, 114);
    font-size:2rem;
    line-height: 1.6;
    font-family: "pf-marlet-display", sans-serif;
font-weight: 700;
font-style: normal;
        }
p {
    color: #3d0e29;
    font-size:1rem;
    line-height: 1.6;
    font-family: "aktiv-grotesk", sans-serif;
font-weight: 400;
font-style: normal;

}

